Checks: >
  # Disable all checks by default to explicitly enable those you want
  -*,

  # Bug Prone Checks: Focus on potential bugs and common mistakes
  bugprone-*,

  # C++ Core Guidelines Checks: Enforce Modern C++ Guidelines
  cppcoreguidelines-*,

  # Clang Static Analyzer Checks: Deeper semantic analysis for bugs
  clang-analyzer-*,

  # Modernize Checks: Suggest modern C++ features and idioms
  modernize-*,

  # Performance Checks: Identify potential performance pitfalls
  performance-*,

  # Readability Checks: Improve code readability and maintainability
  readability-*,

  # Misc Checks: Catch various issues
  misc-*,

  # Specific exceptions or stricter rules
  -modernize-use-trailing-return-type, # Often generates noisy suggestions
  -cppcoreguidelines-pro-type-member-init, # Can be overly strict for some styles

WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,

HeaderFilterRegex: '^((?!/opt/ros|/usr/include).)*$'

AnalyzeTemporaryDtors: true
# Enables analysis of temporary destructors, which can catch more bugs but might be slower.

FormatStyle: file
# Integrate with .clang-format to ensure consistent formatting options.

CheckOptions:
  # bugprone-argument-comment.StrictMode: 1
  # readability-function-size.StatementThreshold: 800
  # google-readability-braces-around-statements.ShortStatementLines: 1
  # cert-str34-c.Strip: 'printf,sprintf,log'